<!-- activities route -> views/activities.html-->
<include href="views/header.html"></include>


<div class="container">

    <h1>Activities Page</h1>

    <div id="Extras">
        <p class="text-center"><em>Please select any place that you are interested in:</em></p>
    </div>

    <form class="center" id="extrasForm"  name="extrasForm" action="#"  onsubmit="return formValidation()" method="post">
        <br>
        <div class="row">
            <div class="col">
                <label><input type="checkbox" name="activityNames[]" value="Activities #1">
                    <strong> Activities #1</strong> <br> <strong>Category:</strong> lah lah lah <br>
                    <strong>Description:</strong> lah lah lah <br> <strong>Address:</strong>
                    lah lah lah
                </label>
                <!--            find a way to make it next to the square-->
            </div>

            <div class="col">
                <label><input type="checkbox" name="activityNames[]" value="Activities #2">
                    <strong> Activities #2</strong> <br> <strong>Category:</strong> lah lah lah <br>
                    <strong>Description:</strong> lah lah lah <br> <strong>Address:</strong>
                    lah lah lah
                </label>
            </div>
        </div>
        <br>
        <hr>
        <div class="row">
            <div class="col">
                <label><input type="checkbox" name="activityNames[]" value="Activities #3">
                    <strong> Activities #3</strong> <br> <strong>Category:</strong> lah lah lah <br>
                    <strong>Description:</strong> lah lah lah <br> <strong>Address:</strong>
                    lah lah lah
                </label>
            </div>

            <div class="col">
                <label><input type="checkbox" name="activityNames[]" value="Activities#4">
                    <strong> Activities #4</strong> <br> <strong>Category:</strong> lah lah lah <br>
                    <strong>Description:</strong> lah lah lah <br> <strong>Address:</strong>
                    lah lah lah
                </label>
            </div>
        </div>
        <br>
        <hr>
        <div class="row">
            <div class="col">
                <label><input type="checkbox" name="activityNames[]" value="Activities #5">
                    <strong> Activities #5</strong> <br> <strong>Category:</strong> lah lah lah <br>
                    <strong>Description:</strong> lah lah lah <br> <strong>Address:</strong>
                    lah lah lah
                </label>
            </div>

            <div class="col">
                <label><input type="checkbox" name="activityNames[]" value="Activities #6">
                    <strong> Activities #6</strong> <br> <strong>Category:</strong> lah lah lah <br>
                    <strong>Description:</strong> lah lah lah <br> <strong>Address:</strong>
                    lah lah lah
                </label>
            </div>
        </div>

        <br>
        <hr>
        <div id="addToWishListButtonDiv" class="col-6 col-md-4">
            <input type="submit" value="Add to WishList">
            <!--            <button class="button" onclick="submit">NEXT!</button>-->
        </div>
    </form>
</div>


<!-- FOOTER -->
<include href="views/footer.html"></include>