<!-- contact route -> views/contact-->
<include href="views/header.html"></include>

<div class="container contactUs">

    <div class="row">
        <div class="message col-md-9 col-sm-12">
            <h3>Leave A Message</h3>
            <label for="firstName">First Name</label>
            <br><input type="text" name="firstName" id="firstName" placeholder="First Name">

            <br><label for="lastName">Last Name</label>
            <br><input type="text" name="lastName" id="lastName" placeholder="Last Name">

            <br><label for="email">email</label>
            <br><input type="email" name="email" id="email" placeholder="Email">

            <br><label for="comment">Leave us a comment</label>
            <br><textarea class="comment" name="comment" id="comment" placeholder="Write message here..."></textarea>

            <br><button type="submit" class="btn btn-primary" href="">Send</button><br>
        </div>

        <div class="contact col-md-3 col-sm-12">
            <h3>Contact Info</h3>
            <ul>
                <li>1221 D St NE<br>Auburn, WA 98002</li>
                <li>lorem@ipsum.com</li>
                <li>(253)833-9111</li>
            </ul>
        </div>
    </div>
</div>

<!-- FOOTER -->
<include href="views/footer.html"></include>