<include href="views/header.html"></include>

<body>
    <div class="top-nav">
<!--        <img src="" alt="image is here">-->
        <ul>
            <li><a>Home</a></li>
            <li><a>Contact</a></li>
            <li><a>About</a></li>
            <li><a>Sign In | Sign Up</a></li>
        </ul>
    </div>

    <div class="content">
        <h1 class="text-center">Washington Sites to See</h1>
    </div>

    <div class="footer text-center">
        <p> &copy; All Rights Reserved<br>Auburn, Washington </p>
    </div>
</body>
