<!-- home route -> views/home.html-->
<include href="views/header.html"></include>


<!-- CONTENT -->
    <div class="content text-center">
        <h1 style="font-size: 40px;">Washington Sites to See</h1>
        <ul class="activities">
            <li><a href="food">Food</a></li>
            <li><a href="nature">Nature</a></li>
            <li><a href="music">Music</a></li>
            <li><a href="activities">Activities</a></li>
        </ul>

        <img src="images/space_needle.jpg" class="rounded" alt="picture of the space needle" width="640" height="428">
        <img src="images/mount_rainier.jpg" class="rounded" alt="picture of mount rainier" width="640" height="428">
<!--        was using "50%" to make it fluid but the html validator was giving error so I just switched to pixels-->
    </div>


<!-- FOOTER -->
<include href="views/footer.html"></include>
