<!-- nature route -> views/nature.html-->
<include href="views/header.html"></include>


<div class="container">

    <h1>Nature Page</h1>

    <div id="Extras">
        <p class="text-center"><em>Please select any place that you are interested in:</em></p>
    </div>

    <form class="center" id="extrasForm"  name="extrasForm" action="wishlist"  onsubmit="return formValidation()" method="post">
        <br>
        <div class="row">
            <div class="col">
                <label><input type="checkbox" name="nature1" value="Nature #1">
                    <strong> Nature #1</strong> <br> <strong>Category:</strong> lah lah lah <br>
                    <strong>Description:</strong> lah lah lah <br> <strong>Address:</strong>
                    lah lah lah
                </label>
                <!--            find a way to make it next to the square-->
            </div>

            <div class="col">
                <label><input type="checkbox" name="nature2" value="Nature #2">
                    <strong> Nature #2</strong> <br> <strong>Category:</strong> lah lah lah <br>
                    <strong>Description:</strong> lah lah lah <br> <strong>Address:</strong>
                    lah lah lah
                </label>
            </div>
        </div>
        <br>
        <hr>
        <div class="row">
            <div class="col">
                <label><input type="checkbox" name="nature3" value="Nature #3">
                    <strong> Nature #3</strong> <br> <strong>Category:</strong> lah lah lah <br>
                    <strong>Description:</strong> lah lah lah <br> <strong>Address:</strong>
                    lah lah lah
                </label>
            </div>

            <div class="col">
                <label><input type="checkbox" name="nature4" value="Nature #4">
                    <strong> Nature #4</strong> <br> <strong>Category:</strong> lah lah lah <br>
                    <strong>Description:</strong> lah lah lah <br> <strong>Address:</strong>
                    lah lah lah
                </label>
            </div>
        </div>
        <br>
        <hr>
        <div class="row">
            <div class="col">
                <label><input type="checkbox" name="nature5" value="Nature #5">
                    <strong> Nature #5</strong> <br> <strong>Category:</strong> lah lah lah <br>
                    <strong>Description:</strong> lah lah lah <br> <strong>Address:</strong>
                    lah lah lah
                </label>
            </div>

            <div class="col">
                <label><input type="checkbox" name="nature6" value="Nature #6">
                    <strong> Nature #6</strong> <br> <strong>Category:</strong> lah lah lah <br>
                    <strong>Description:</strong> lah lah lah <br> <strong>Address:</strong>
                    lah lah lah
                </label>
            </div>
        </div>

        <br>
        <hr>
        <div class="col-6 col-md-4">
            <input type="submit" value="Add to WishList">
            <!--            <button class="button" onclick="submit">NEXT!</button>-->
        </div>
    </form>
</div>


<!-- FOOTER -->
<include href="views/footer.html"></include>