<!-- nature route -> views/nature.html-->
<include href="views/header.html"></include>


<div class="container">

    <h1>Nature Page</h1>

    <div id="Extras">
        <p class="text-center"><em>Please select any place that you are interested in:</em></p>
    </div>

    <form class="center" id="extrasForm"  name="extrasForm" action="Reserve.php"  onsubmit="return formValidation()" method="post">
        <br>
        <div class="row">
            <div class="col">
                <label><input type="checkbox" name="place1" value="Place #1">
                    <strong> Place #1</strong> <br> <strong>Category:</strong> lah lah lah <br>
                    <strong>Description:</strong> lah lah lah <br> <strong>Address:</strong>
                    lah lah lah
                </label>
                <!--            find a way to make it next to the square-->
            </div>

            <div class="col">
                <label><input type="checkbox" name="place2" value="Place #2">
                    <strong> Place #2</strong> <br> <strong>Category:</strong> lah lah lah <br>
                    <strong>Description:</strong> lah lah lah <br> <strong>Address:</strong>
                    lah lah lah
                </label>
            </div>
        </div>
        <br>
        <hr>
        <div class="row">
            <div class="col">
                <label><input type="checkbox" name="place3" value="Place #3">
                    <strong> Place #3</strong> <br> <strong>Category:</strong> lah lah lah <br>
                    <strong>Description:</strong> lah lah lah <br> <strong>Address:</strong>
                    lah lah lah
                </label>
            </div>

            <div class="col">
                <label><input type="checkbox" name="place4" value="Place #4">
                    <strong> Place #4</strong> <br> <strong>Category:</strong> lah lah lah <br>
                    <strong>Description:</strong> lah lah lah <br> <strong>Address:</strong>
                    lah lah lah
                </label>
            </div>
        </div>
        <br>
        <hr>
        <div class="row">
            <div class="col">
                <label><input type="checkbox" name="place5" value="Place #5">
                    <strong> Place #5</strong> <br> <strong>Category:</strong> lah lah lah <br>
                    <strong>Description:</strong> lah lah lah <br> <strong>Address:</strong>
                    lah lah lah
                </label>
            </div>

            <div class="col">
                <label><input type="checkbox" name="place6" value="Place #6">
                    <strong> Place #6</strong> <br> <strong>Category:</strong> lah lah lah <br>
                    <strong>Description:</strong> lah lah lah <br> <strong>Address:</strong>
                    lah lah lah
                </label>
            </div>
        </div>

        <br>
        <hr>
        <div class="col-6 col-md-4">
            <input type="submit" value="Submit">
            <!--            <button class="button" onclick="submit">NEXT!</button>-->
        </div>
    </form>
</div>


<!-- FOOTER -->
<include href="views/footer.html"></include>