<!-- sign-in route -> views/sign-in.html-->
<include href="views/header.html"></include>

<div class="container signIn">
    <form action="#" method="post" class="form-horizontal">

    <div class="row text-center">
        <div class="col-md-6 col-sm-12">
            <!--        sign in side and submit-->
            <h3>SIGN IN</h3>

            <label for="username"></label>
            <br><input type="email" name="username" id="username" placeholder="email">

            <br><label for="userpwd"></label>
            <br><input type="password" name="userpwd" id="userpwd" placeholder="password">
            <br>
            <h6>Forgot password or username?</h6>

            <br><button  type="submit" class="logInbtn btn-primary" href="">Log In</button><br>
        </div>

        <div class="col-md-6  col-sm-12" id="right">
            <h3>SIGN UP</h3>
            <label for="firstName"></label>
            <br><input type="text" name="firstName" id="firstName" placeholder="first name">

            <br><label for="lastName"></label>
            <br><input type="text" name="lastName" id="lastName" placeholder="last name">

            <br><label for="email"></label>
            <br><input type="email" name="email" id="email" placeholder="email">

            <br><label for="password"></label>
            <br><input type="password" name="password" id="password" placeholder="password">

            <!--            <br><a class="button" type="button" href="">Sign Up!</a>-->
            <br><button class="btn btn-primary" type="submit" href="">Sign Up</button>
        </div>
    </div>
    </form>

</div>


<!-- FOOTER -->
<include href="views/footer.html"></include>
