<!-- sign-up route -> views/sign-up.html-->
<include href="views/header.html"></include>

<body>
<!-- TOP-NAV -->
    <ul id="top-nav">
        <li><a class="active" href="home">Home</a></li>
        <li><a href="contact">Contact</a></li>
        <li><a href="about">About</a></li>
        <li class="right"><a href="signin">Sign In | Sign Up</a></li>
    </ul>

<!-- content here CREATE unique id for style purposes-->

<!-- FOOTER -->
    <div id="footer">
        <p> &copy; All Rights Reserved<br>Auburn, Washington </p>
    </div>
</body>