<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List of Washington Cities</title>
</head>
<body>
    <h1>List of Washington Cities</h1>

    <div class="form-group">
        <label for="cities" class="col-sm-2 control-label">State</label>
        <div class="col-sm-10">
            <select class="form-control" id="cities" name="cities">

                <!--     BY LETTER A     -->
                <option value="Aberdeen">Aberdeen</option>
                <option value="Aberdeen Gardens">Aberdeen Gardens</option>
                <option value="Acme">Acme</option>
                <option value="Addy">Addy</option>
                <option value="Ahtanum">Ahtanum</option>
                <option value="Airway Heights">Airway Heights</option>
                <option value="Albion">Albion</option>
                <option value="Alder">Alder</option>
                <option value="Alderton">Alderton</option>
                <option value="Alderwood Manor">Alderwood Manor</option>
                <option value="Alger">Alger</option>
                <option value="Algona">Algona</option>
                <option value="Allyn">Allyn</option>
                <option value="Almira">IAlmira</option>
                <option value="Altoona">Altoona</option>
                <option value="Amanda Park">Amanda Park</option>
                <option value="Amboy">Amboy</option>
                <option value="Ames Lake">Ames Lake</option>
                <option value="Anacortes">Anacortes</option>
                <option value="Anatone">Anatone</option>
                <option value="Anderson Island">Anderson Island</option>
                <option value="Arlington">Arlington</option>
                <option value="Arlington Heights">Arlington Heights</option>
                <option value="Artondale">Artondale</option>
                <option value="Ashford">Ashford</option>
                <option value="Asotin">Asotin</option>
                <option value="Auburn">Auburn</option>

                <!--     BY LETTER B     -->
                <option value="Bainbridge Island">Bainbridge Island</option>
                <option value="Bangor Base">Bangor Base</option>
                <option value="Banks Lake South">Banks Lake South</option>
                <option value="Barberton">Barberton</option>
                <option value="Baring">Baring</option>
                <option value="Barney's Junction">Barney's Junction</option>
                <option value="Barstow">Barstow</option>
                <option value="Basin City">Basin City</option>
                <option value="Battle Ground">Battle Ground</option>
                <option value="Bay Center">Bay Center</option>
                <option value="Bay View">Bay View</option>
                <option value="Beacon Hill">Beacon Hill</option>
                <option value="Beaux Arts Village">Beaux Arts Village</option>
                <option value="Belfair">Belfair</option>
                <option value="Bellevue">Bellevue</option>
                <option value="Bell Hill">Bell Hill</option>
                <option value="Bellingham">Bellingham</option>
                <option value="Benton City">Benton City</option>
                <option value="Bethel">Bethel</option>
                <option value="Bickleton">Bickleton</option>
                <option value="Big Lake">Big Lake</option>
                <option value="Bingen">Bingen</option>
                <option value="Birch Bay">Birch Bay</option>
                <option value="Black Diamond">Black Diamond</option>
                <option value="Blaine">Blaine</option>
                <option value="Blyn">Blyn</option>
                <option value="Bonney Lake">Bonney Lake</option>
                <option value="Bothell">Bothell</option>
                <option value="Bothell East">Bothell East</option>
                <option value="Bothell West">Bothell West</option>
                <option value="Boulevard Park">Boulevard Park</option>
                <option value="Bow">Bow</option>
                <option value="Boyds">Boyds</option>
                <option value="Brady">Brady</option>
                <option value="Bremerton">Bremerton</option>
                <option value="Brewster">Brewster</option>
                <option value="Bridgeport">Bridgeport</option>
                <option value="Brier">Brier</option>
                <option value="Brinnon">Brinnon</option>
                <option value="Browns Point">Browns Point</option>
                <option value="Brush Prairie">Brush Prairie</option>
                <option value="Bryant">Bryant</option>
                <option value="Bryn Mawr-Skyway">Bryn Mawr-Skyway</option>
                <option value="Buckley">Buckley</option>
                <option value="Bucoda">Bucoda</option>
                <option value="Buena">Buena</option>
                <option value="Bunk Foss">Bunk Foss</option>
                <option value="Burbank">Burbank</option>
                <option value="Burien">Burien</option>
                <option value="Burley">Burley</option>
                <option value="Burlington">Burlington</option>

                <!--     BY LETTER C     -->
                <option value="Wyoming">Wyoming</option>
                <option value="Wyoming">Wyoming</option>
                <option value="Wyoming">Wyoming</option>
                <option value="Wyoming">Wyoming</option>
                <option value="Wyoming">Wyoming</option>
                <option value="Wyoming">Wyoming</option>
                <option value="Wyoming">Wyoming</option>
                <option value="Wyoming">Wyoming</option>
                <option value="Wyoming">Wyoming</option>
                <option value="Wyoming">Wyoming</option>
                <option value="Wyoming">Wyoming</option>
                <option value="Wyoming">Wyoming</option>
                <option value="Wyoming">Wyoming</option>
            </select>
        </div>
    </div>

</body>
</html>