
<include href="views/header.html"></include>

    <h1>My Itinerary</h1>

    <form action="#">

        <table>
            <tr>
                <th><strong>Destination Name</strong></th>
            </tr>
            <repeat group="{{ @destinations }}" value="{{ @destination }}">

                <tr>
                    <input type="checkbox" id="{{ @destination }}" name="{{ @destination }}" value="{{ @destination }}">
                    <label for="{{ @destination }}"> {{ @destination['name'] }}</label><br>                </tr>
            </repeat>
        </table>


        <input type="submit" value="Submit">
    </form>


<!-- FOOTER -->
    <include href="views/footer.html"></include>
