
<include href="views/header.html"></include>

<h1>
    My WishList
</h1>
<h2>
    Destinations
</h2>

<label>
    <h2>Food:</h2>
        <p>{{ @SESSION.newUser->getFoodList() }}</p>
<!--    <p>{{ @SESSION.newUser->getDestinationList }}</p>-->

    <h2>Music:</h2>
    <p>{{ @SESSION.newUser->getMusicList() }}</p>

    <h2>Activities:</h2>
    <p>{{ @SESSION.newUser->getActivityList() }}</p>

    <h2>Nature:</h2>
    <p>{{ @SESSION.newUser->getNatureList() }}</p>

</label>




<!-- FOOTER -->
<include href="views/footer.html"></include>