/* Washington Sites to See webpage styles */
html {
    background-color: #333;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/* home page styles */
ul#top-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
ul#top-nav li {
    float: left;
}
ul#top-nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul#top-nav li a:hover:not(.active) {
    background-color: #111;
}
ul#top-nav li a.active {
    background-color: rgba(3, 113, 178, 0.96);
}
ul#top-nav li.right {
    float: right;
}
@media screen and (max-width: 600px) {
    ul#top-nav li.right,
    ul#top-nav li {float: none;}
}
div.content {
    padding-top: 100px;
    border-radius: 20px;
}
ul.activities {
    list-style-type: none;
}
ul.activities li {
    display: inline;
}
ul.activities li a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#footer {
    margin-top: auto;
    background-color: #237723;
    color: white;
    padding: 50px 0;
}
#footer p {
    text-align: center;
}
/* SIGN-IN web page */
.signIn h2{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
 }
.modal-content {
    margin: 5% auto 15% auto;
}
/* ABOUT US page */
.aboutUs .row {
    display: flex;
}
.aboutUs .column {
    flex: 33.33%;
    padding: 5px;
}
/* CONTACT US page*/

/*
add to wishlist button on each category page
 */
#addToWishListButtonDiv {
    padding-bottom: 2%;
}

#homePicturesDiv {
    padding: 2%;
}