/* Washington Sites to See webpage styles */
html {
    background-color: #237723;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* home page styles */
ul.top-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    color: white;
}
ul.top-nav li {
    float: left;
}
ul.top-nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul.top-nav li a:hover:not(.active) {
    background-color: #111;
}
ul.top-nav li a.active {
    background-color: rgba(3, 113, 178, 0.96);
}
ul.top-nav li.right {
    float: right;
}
@media screen and (max-width: 600px) {
    ul.top-nav li.right,
    ul.top-nav li {float: none;}
}
.content {
    /*padding: 50px 0;*/
}
ul.activities {
    list-style-type: none;
}
ul.activities li a {
    text-decoration: none;
}
.footer {
    margin-top: auto;
    background-color: #111;
    color: white;
}